.navbar-brand {
  color: yellow !important;
}
.navbar-brand,
h1,
.del {
  font-family: cursive;
}
.starBtn {
  float: right;
  width: 32px;
  height: 32px;
  padding: 0;
}
.card {
  width: min-content;
}
.card:nth-of-type(even):hover,
.card:nth-of-type(odd):hover {
  transform: scale(1.5);
  z-index: 1;
}
.card input,
.card textarea {
  outline-color: transparent;
  border: none;
  border-radius: 4px;
  width: -webkit-fill-available;
  height: fit-content;
  resize: none;
}
.card:nth-of-type(even) .del {
  border: 1px dashed white;
  color: white;
}
.card:nth-of-type(odd) .del,
.card:nth-child(3n) .del {
  border: 1px dashed black;
  color: black;
}
.card:nth-of-type(even) {
  transform: rotate(-6deg);
  background-color: crimson;
}
.card:nth-of-type(odd) {
  transform: rotate(6deg);
  background-color: aquamarine;
}
.card:nth-child(3n) {
  transform: rotate(3deg);
  background-color: gold;
}

@media screen and (max-width: 475px) {
  .card:nth-of-type(even),
  .card:nth-of-type(odd) {
    transform: none;
  }
  .card:nth-of-type(even):hover,
  .card:nth-of-type(odd):hover {
    transform: scale(1.25) translateY(-20px);
  }
}
@media screen and (max-width: 780px) {
  #notes {
    justify-content: center;
  }
}
